Package: jp.i4m1k0su.minhayafaker
Name: MinhayaFaker
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: i4M1k0SU
Author: i4M1k0SU
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
